* {
    padding: 0;
    margin: 0;
}

/* Navigation bar */
#navbar {
    display: flex;
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation bar: Logo and Image  */
.logo img {
    height: 50px;
    width: 50px;
    margin: 5px 15px;
}

/* Navigation bar: List styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 23px;
    margin: 10px 0px;

}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Home Section  */
#home::before {
    content: "";
    position: absolute;
    background: url('/bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 642px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 550px;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Service section */
#services {
    display: flex;
    margin: 34px;
    font-family: 'Brie Serif', 'serif';

}

#services .box {
    border: 2px solid red;
    padding: 34px;
    margin: 3px 30px;
    border-radius: 23px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    transition: ease-out;
}
#services .box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;

}

/* Client section */
#client-section {
    position:relative;
    height:344px
}
#client-section::before{
    content:"";
    position: absolute;
    background-image: url('bg.jpg');
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity:0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 40px;
}
#clients img{
    height: 124px;
    transition: ease-out;

}
#clients img:hover{
    transform:scale(1.1);
}
/* Contact Section */
#contact{
    /* height:344px; */
    position:relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 9px ;
    font-size: 1.1rem;

}
#contact-box form{
    width:40%
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Brie Serif', 'serif';
}
.form-group button{
    width:100%;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #9e9e9e;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-group button:hover {
    background-color : #777373;
    border: 1px solid black;
}
footer{
    background-color:#777373;
    color:white;
    padding:9px 20px;
}
/* Utility classes */
.center {
    text-align: center;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}

.btn {
    padding: 6px 20px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #9e9e9e;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    background-color : #777373;
    border: 1px solid black;
}